/*body {
  font-family: sans-serif;
}

#homepage {
  width: 1400px;
  height: 818px;
  background-image: url("cs-homepage.jpg");
}

#about {
  width: 1400px;
  height: 818px;
  background-color: lightgray;
}

#experience {
  width: 1400px;
  height:818px;
  background-color: lightgray;
}

nav {
  width: 1400px;
  height: 100px;
  background-color: black;
}

a {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

button{
  padding: 32px 77px;
  background-color: black;
  color: white;
  padding-left: 30px;
  font-size: 20px;
  font-family: sans-serif;
}

.maintext {
  width: 1400px;
  height: 818px;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 216px;
  padding-right: 222px;
  font-size: 40px;
}

@media (max-width: 700px) {
  h1 {
    padding-right: 1000px;
    padding-top: 0px;
  }

  nav {
    height:280px;
    width: 218px;
    background-color: black;
  }

  button {
    height: 50px;
    width: 216px;
  }
}
footer {
  width: 1400px;
  height: 100px;
  position: absolute;
  bottom: -33px;
}*/

body {
  font-family: sans-serif;
}

.row-1 {
  background-color: gray;
  height: 826px;
  width: 1450px;
  background-image: url("cs-homepage.jpg");
}

.row-2 {
  background-color: gray;
  height: 826px;
  width: 1450px;
}

.row-3 {
  background-color: gray;
  height: 826px;
  width: 1450px;
}

button {
  margin-left: 10px;
  margin-top: 11px;
  font-size: 27px;
  border-radius: 20px;
}
