body {
  font-family: sans-serif;
  }

  #homepage {
  width: 1400px;
  height: 774px;
  background-image: url("cs-homepage.jpg");
  }

  #about {
    width: 1400px;
    height: 774px;
    background-color: lightgray;
  }

  #experience {
    width: 1400px;
    height:774px;
    background-color: lightgray;
  }

  nav {
    width: 1400px;
    height: 100px;
    background-color: black;
  }

  a {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
  }

  button{
    padding: 32px 77px;
    background-color: black;
    color: white;
    padding-left: 30px;
    font-size: 20px;
    font-family: sans-serif;
  }

  .maintext {
    width: 1400px;
    height: 774px;
  }

  h1 {
    color: white;
    text-align: center;
    padding-top: 216px;
    padding-right: 222px;
    font-size: 40px;
  }

  @media screen and (max-width: 869px;) {
    h1 {
      /*padding-right: 873px;*/
      padding-right: none;
      text-align: none;

    }
  }

  /*footer {
    width: 1400px;
    height: 100px;
    position: absolute;
    bottom: -33px;
  }*/
